.contact-container {
    z-index: 2;
    padding: 5%;
    position: relative;
    text-align: center;
    clear:both;
    display:flex;
    flex-wrap: wrap; 
}

.hold-that-style {
    max-width: 100%;
    overflow-x: hidden;
}


.contact-add-some-style {
    pointer-events: none;
    position: absolute;
    left: -7%;
    right: 0;
    background-image: url(../images/background.png);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    background-repeat: repeat;
    background-size: 15em;
    margin-top:-5em;
    z-index: 1;
    transform: skewY(-12deg);
    transition: opacity .2s ease-out;
    will-change: transform;
    color: #242424;
    transform: rotate(351deg);
    background-repeat: repeat;
    background-size: 15em;
    min-height: 80em;
    width: 130%;
    background-color: #fff;
    overflow-x: hidden !important;
}


.contact-hold-contents {
    z-index: 99;
    width: 100%;
    
}

.contact-form-container, .socials-cta-container  {
    width:40%;
    float:left;
    padding:5%;
}

.social-content {
    margin: auto 0;;
}

.social-icon-container{
    margin: 0 auto;
    width: fit-content;
}

.social-icons {
    display:flex;
    float: left;
}

._form {
    -webkit-box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%), 0 -18px 60px -10px rgb(0 0 0 / 3%);
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%), 0 -18px 60px -10px rgb(0 0 0 / 3%);
    background:#fff;
    margin: 0 0 0 auto;
    border-radius:5px;
    max-width: 750px;
    padding: .01em 1em;
}

.social-content{
    display: block;
    align-items: center;
    justify-content: center;
}

.contact-header {
    width:100%;
}

._x11302145{
    font-size: 1.1em!important;
   width: fit-content !important;
       margin: 0 auto !important;
   }
   
   ._field13 > fieldset > div._row._checkbox-radio {
   width: 4%;
       float: left;
   }
   
   input[type="text"] {
   border-radius:5px !important;
   }
   
   ._field13._full_width > fieldset > div:nth-child(1) > legend {
   width: 95%;
       float: right;
       font-weight:300;
       font-size:.9em;
   }
   
   ._submit {
   width:95%;
   font-family: 'Montserrat';
   font-size: 1em !important;
   text-transform:uppercase;
   font-weight: 500;	
       margin: 2.5%;
   }
    
   
._x13662695 label, ._x78123151 label,  ._field1 label, ._field13 label, ._x11302145 label {
    display:none  !important;	
   }
   ._x13662695 input {
       width:45% !important;
           float:left;
   }
   ._x78123151 input {
       width:45% !important;
   float:left;
   }
   
   input[type="text"] , ._x13662695 input, ._x78123151 input, ._field1 textarea {
    font-size: 1.1em !important;
    padding: 1.5% !important;
    background-color: #efefef;
    margin: 2.5%;
    border-width: 0 !important;
   }
   ._field1 textarea {
   width: 95% !important;	
   min-height:150px !important;
   }
   ._field13 {
    font-size: 1.1em!important;
   border-radius: 5px !important;
   width: 95% !important;
       margin: 2.5%!important;
       
   }   

  