.hero-container {
    background-color: rgb(36, 36, 36);
    color: #fff;
    position: relative;
    min-height: 100vh;
    margin-bottom: 50px;
    margin-top:-80px
}

.lefthero {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    position: relative;
    width:50%;
    float:left;
    background-image: url(../images/AmandaMock.jpg) ;
    background-repeat: no-repeat;
    background-position: 15% center;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    -webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.righthero {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    width:50%;
    float:left;
    padding: 80px 0 0 0;
}

.rightheocontent {
    padding:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.profileimage {
    
}