body {

    background: hsla(235, 100%, 78%, 1);

background: linear-gradient(90deg, hsla(235, 100%, 78%, 1) 0%, hsla(222, 77%, 33%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(235, 100%, 78%, 1) 0%, hsla(222, 77%, 33%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(235, 100%, 78%, 1) 0%, hsla(222, 77%, 33%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#919BFF", endColorstr="#133A94", GradientType=1 );

    min-height: 50vh;
    margin:0 !important;
}

#root {
    overflow:hidden;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3em;
    margin: .5%;
    font-weight: 500;
    text-transform: uppercase;
}